.profile__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: min(500px, 100%);
  margin: 0 auto 3rem;
}
.profile__section {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.8rem;
}
.profile__section--button {
  align-items: center;
}
.profile__heading {
  font-weight: 600;
  font-size: 1.8rem;
  margin: 0 0 0.8rem;
  padding: 0 0.5rem;
}
.profile__input {
  /* flex-grow: 1; */
  border: 0;
  outline: none;
  &:focus {
    outline: none;
  }
}
.profile__label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 0.4rem;
  outline: none;
  font-family: Inter;
  font-size: 1.2rem;
  &:focus-within {
    border: 1px solid #555;
  }
}

.profile__icon {
  /* color: #9dc0d5; */
  color: rgba(0, 0, 0, 0.2);
  width: 2rem;
}
.profile__input:focus .profile__icon {
  color: red;
}
.profile__checkbox-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.profile__checkbox {
  display: none;
}
.profile__label-checkbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 100px;
  height: 100px;
  padding: 0 0 2rem;
  border-radius: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  position: relative;
  font-size: 1.4rem;
}
.profile__label-checkbox::before {
  content: "";
  position: absolute;
  left: 0.8rem;
  top: 0.8rem;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.profile__checkbox:checked ~ .profile__label-checkbox {
  border-color: #555;
}
.profile__checkbox:checked ~ .profile__label-checkbox::before {
  content: "";
  position: absolute;
  left: 0.8rem;
  top: 0.8rem;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #555;
}
.profile__checkbox:checked ~ .profile__label-checkbox > .profile__icon {
  color: #555;
  width: 2rem;
}

.profile__checkbox:checked ~ .profile__label-checkbox::after {
  content: "";
  position: absolute;
  left: 12.5px;
  top: 1.4rem;
  width: 8px;
  height: 3px;
  border-left: 2px solid #555;
  border-bottom: 2px solid #555;
  transform: rotate(-45deg);
}
.profile__textbox {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0.5rem;
  border-radius: 0.4rem;

  font-family: Inter;
  font-size: 1.4rem;
  resize: none;
  &:focus {
    outline: none;
    border-color: #555;
  }
}
@media screen and (max-width: 470px) {
  .profile__checkbox-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .profile__checkbox-container:nth-child(3n) {
    place-self: end;
  }
  .profile__checkbox-container:nth-child(3n + 1) {
    place-self: start;
  }
  .profile__checkbox-container:nth-child(3n + 2) {
    place-self: center;
  }
}
