@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  background: url(gfx/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000;
  font-family: Inter;
}
.button {
  padding: 1rem;
  background-color: #47abd8;
  font-family: Inter;
  font-weight: 500;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
  border: 0;
  color: #fff;
  width: 12rem;
  font-size: 1.2rem;
  border-radius: 0.4rem;
}
.loading-container {
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem;
}
.icon__loading {
  color: #fff;
  filter: blur(1px) drop-shadow(0 0px 6px #fff);
}
@media screen and (min-width: 992px) {
  body {
    background-size: 100%;
    background-position-x: 50%;
    background-position-y: -300px;
  }
}
